body {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  background-color: rgb(250, 246, 241);
}

.black-border {
  border: 5px solid black;
margin-left: 10%;
margin-right: 10%;
padding: 1%;
}
#green-background {
  background-color: green;
  color: black;
  font-size: 20px;
}
.center{

    margin: 5% 10%;
}

.media{
display:flex;
}

.block{
    float: left;
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(63, 61, 61);
    font-size: small;
    margin: 40px 10px;
}

.link-1{
color:rgb(185, 10, 10);
}

.link-2{
    color:rgb(3, 44, 19)
}

main {
    border:rgb(185, 10, 10) double;
    margin: 5% 10%;
    padding: 8% 3%
}

*/ MEDIA QUERIES /*

@media screen and (max-width:320px) {
 
.media {

    flex-direction: column
  
}


@media screen and (min-width: 1024px) {
  body {
    background-color: azure;
    color:brown;
    font-size: 25px ;
    line-height: 1,5rem;
  }
}
